db.type = mysql
db.url = localhost
db.username = root
db.password = 
db.name = golang_example
db.port = 3306
db.maxIdleConn = 10000
db.maxPoolConn = 100

amqp.url = 127.0.0.1:5672
amqp.username = guest
amqp.password = guest
amqp.productchannel = product